[defaults]
inventory = inventory.ini
roles_path = roles
library = ./library
module_utils = ./module_utils
remote_tmp = ~/.ansible/tmp
local_tmp = ~/.ansible/tmp
forks = 10
timeout = 30
host_key_checking = false
stdout_callback = yaml
deprecation_warnings = false
action_warnings = false
retry_files_enabled = false
interpreter_python = auto_silent

[inventory]
enable_plugins = host_list, script, yaml, ini

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

[colors]
highlight = white
verbose = blue
verbose_high = yellow
verbose_low = cyan
deprecate = purple
error = red

[diff]
always = false
context = 3
